gcloud
github-copilot
configstore
nvim2
dnvim/builds
hcloud/
fish/
.aws
aws
gh
.DS_Store
nvim/**/secrets.lua
__pycache__
AWSVPNClient
AWS VPN Client
target
**/.claude/settings.local.json
acli/
slack-pull/
prrr/
